In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('E:\Kaggle DB\Extracted\ETH Data\ETH_1H.csv')
df.head(100)

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622
...,...,...,...,...,...,...,...,...
95,1586653200000,2020-04-12 01:00:00,ETHUSD,157.89,158.41,157.54,157.54,50.738859
96,1586649600000,2020-04-12 00:00:00,ETHUSD,158.66,159.66,157.89,157.89,377.755902
97,1586646000000,2020-04-11 23:00:00,ETHUSD,158.20,158.91,157.32,158.66,67.532858
98,1586642400000,2020-04-11 22:00:00,ETHUSD,157.38,158.91,157.38,158.20,523.814638
99,1586638800000,2020-04-11 21:00:00,ETHUSD,155.02,157.38,154.72,157.38,42.849201

In [6]:
df.shape

(34497, 8)

In [10]:
df.loc[0,'Date']  #For one DataSet

'2020-04-16 00:00:00'

In [25]:
df.loc[[0,2],['Date','Open','High','Low','Close','Volume']]

#This above code determines that 0 and 2nd day Open, high, close, low and Volume for which the stock was brought
#with the date

                  Date    Open    High     Low   Close      Volume
0  2020-04-16 00:00:00  152.94  152.94  150.39  150.39  650.188125
2  2020-04-15 22:00:00  157.18  157.30  155.32  155.81  106.337279

In [36]:
df['Date'] = pd.to_datetime(df['Date'], format = '%d-%m-%y  %I-%p')

In [35]:
df['Date']

0       2020-04-16 00:00:00+00:00
1       2020-04-15 23:00:00+00:00
2       2020-04-15 22:00:00+00:00
3       2020-04-15 21:00:00+00:00
4       2020-04-15 20:00:00+00:00
                   ...
34492   2016-05-09 17:00:00+00:00
34493   2016-05-09 16:00:00+00:00
34494   2016-05-09 15:00:00+00:00
34495   2016-05-09 14:00:00+00:00
34496   2016-05-09 13:00:00+00:00
Name: Date, Length: 34497, dtype: datetime64[ns, UTC]