# My First Notebook

In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv(r"E:\Kaggle DB\Extracted\World_happiness_report\2019.csv")

In [3]:
dataframe

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country or region,,,,,,,,
Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [9]:
dataframe.tail()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country or region,,,,,,,,
Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.217,0.411
Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.276,0.147
Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.158,0.025
Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.235,0.035
South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [14]:
ser = dataframe['Overall rank']

In [12]:
dataframe['Overall rank'].head(5)

Country or region
Finland        1
Denmark        2
Norway         3
Iceland        4
Netherlands    5
Name: Overall rank, dtype: int64

In [16]:
ser.head(5)

Country or region
Finland        1
Denmark        2
Norway         3
Iceland        4
Netherlands    5
Name: Overall rank, dtype: int64

In [18]:
ser.tail()

Country or region
Rwanda                      152
Tanzania                    153
Afghanistan                 154
Central African Republic    155
South Sudan                 156
Name: Overall rank, dtype: int64

In [20]:
ser.describe()

count    156.000000
mean      78.500000
std       45.177428
min        1.000000
25%       39.750000
50%       78.500000
75%      117.250000
max      156.000000
Name: Overall rank, dtype: float64

In [22]:
ser.sum()

12246

In [24]:
ser.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156],
      dtype=int64)

In [29]:
ser.nunique

<bound method IndexOpsMixin.nunique of Country or region
Finland                       1
Denmark                       2
Norway                        3
Iceland                       4
Netherlands                   5
                           ...
Rwanda                      152
Tanzania                    153
Afghanistan                 154
Central African Republic    155
South Sudan                 156
Name: Overall rank, Length: 156, dtype: int64>

In [31]:
ser.min()

1

In [33]:
ser.max()

156

In [35]:
ser.nunique(dropna=True)

156

In [39]:
ser.nunique(dropna=False)

156

In [41]:
ser.count()

156

In [3]:
import pandas as pd
dic = {1:'one', 3:'three', 2:'two',4:'four'}
ser=pd.Series(dic,name = 'numbers')

In [45]:
ser

1      one
3    three
2      two
4     four
Name: numbers, dtype: object

In [48]:
ser.sort_index(ascending=True, inplace=True)
ser

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [4]:
ser.sort_values(ascending=True)
ser

1      one
3    three
2      two
4     four
Name: numbers, dtype: object

In [6]:
ser.tolist()

['one', 'three', 'two', 'four']

In [8]:
type(ser)

pandas.core.series.Series

In [11]:
type(ser.values)

numpy.ndarray

In [17]:
dataframe.nsmallest(n=1,columns='Overall rank')

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country or region,,,,,,,,
Finland,1,7.769,1.34,1.587,0.986,0.596,0.153,0.393

In [20]:
dataframe.nlargest(n=1,columns = 'Overall rank')

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Country or region,,,,,,,,
South Sudan,156,2.853,0.306,0.575,0.295,0.01,0.202,0.091

In [21]:
dataframe.idxmin()

Overall rank                                     Finland
Score                                        South Sudan
GDP per capita                                   Somalia
Social support                  Central African Republic
Healthy life expectancy                        Swaziland
Freedom to make life choices                 Afghanistan
Generosity                                        Greece
Perceptions of corruption                        Moldova
dtype: object